<!DOCTYPE html>
{% load i18n browserid conversejs gravatar %}
<html>
  <head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% block metarobots %}
      {% if ROBOTS_NOINDEX %}
        <meta name="robots" content="noindex, nofollow" />
      {% endif %}
    {% endblock %}

    <title>{% block title %}Software Público{% endblock %} -Software Público</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}third-party/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, projection" />

    <link rel="stylesheet"
          href="{{ STATIC_URL }}third-party/font-awesome/css/font-awesome.min.css"
          type="text/css" media="screen" />

     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    {% if not is_mobile %}
      {% conversejs_static %}
    {% endif %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css"
                                type="text/css" media="screen" />

    <!-- JQuery 2+ won't work for IE < 9 -->
    <script type="text/javascript" src="{{ STATIC_URL }}third-party/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}third-party/jquery.debouncedresize.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}third-party/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}third-party/bootstrap/js/bootstrap.min.js"></script>

    {% block head_js %}{% endblock %}
    {% block head_css %}{% endblock %}

<!-- chamando nossos arquivos Colab01 -->
       <link rel="stylesheet" href="{{ STATIC_URL }}css/template-branco.css" type="text/css" media="screen" />
<!--Fim arquivos colab 01 -->

<!-- chamada de fontes local -->
<!-- chamada de fontes externas -->
       <link rel="stylesheet" href="{{ STATIC_URL }}jplayer/skin/portalpadrao01/jplayer.css" type='text/css'/>

  {% endblock %}
<!-- chamando nossos arquivos Colab01-->
   <!--<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" media="screen" /> -->

        <link rel="stylesheet" href="{{ STATIC_URL }}css/template-branco.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/colab-redmine.css" type="text/css" media="screen" />


<!--Fim arquivos colab 01-->
  </head>

  <body class="container">

   <a class="hide" id="topo" href="#accessibility">Ir direto para menu de acessibilidade.</a>
   <noscript>
     <div class="error minor-font">
          Seu navegador de internet está sem suporte à JavaScript. Por esse motivo algumas funcionalidades do site podem não estar acessíveis.
          </div>
   </noscript>
   <!--[if lt IE 7]><center><strong>Atenção, a versão de seu navegador não é compatível com este sítio. Atualize seu navegador.</strong></center><![endif]-->
   <!-- barra do governo -->
   <div id="barra-brasil">
      <a href="http://brasil.gov.br" title="Acesse para conhecer todos os serviços e informações do Governo Brasileiro na Internet.">Portal do Governo Brasileiro</a>
        </div>
        <!-- fim barra do governo -->
<!-- inicio div contraste -->
<div class="layout">
    {% browserid_info %}

    {% block navbar %}

    <nav class="navbar navbar-default"  role="navigation">

   <!--barra de navegacao modelo colab01-->

   <header>
      <div class="container2">
         <div class="row-fluid accessibility-language-actions-container">
            <div class="span6 accessibility-container">
               <ul id="accessibility">
                  <li>
                  <a accesskey="1" href="#main-content" id="link-conteudo">
                  Ir para o conte&uacute;do <span>1</span>
                  </a>
                  </li>
                  <li>
                  <a accesskey="2" href="#navigation-colab" id="link-navegacao">
                  Ir para o menu <span>2</span>
                  </a>
                  </li>
                  <li>
                  <a accesskey="3" href="#portal-searchbox" id="link-buscar" onclick="document.getElementById('nolivesearchGadget').focus(); return false;">
                  Ir para a busca <span>3</span>
                  </a>
                  </li>
                  <li>
                  <a accesskey="4" href="#footer-colab" id="link-rodape">
                  Ir para o rodap&eacute; <span>4</span>
                  </a>
                  </li>
               </ul>
            </div>

            <div class="span6 language-and-actions-container">
               <ul id="language" class="pull-right">
                  <li class="language-en">
                  <a href="#">ENGLISH</a>
                  </li>
                  <li class="language-es">
                  <a href="#">ESPAÑOL</a>
                  </li>
               </ul>
               <ul id="portal-siteactions" class="pull-right">
                  <li>
                  <a accesskey="5" href="/interna-acessibilidade.html">Acessibilidade</a>
                  </li>
                 <!-- <li>
                  <a accesskey="6" href="#" class="toggle-contraste">Alto Contraste</a>
                  </li> -->
                  <li>
                  <a accesskey="7" href="#">Mapa do Site</a>
                  </li>
               </ul>
            </div>
            <!-- fim div.span6 -->
         </div>
         <!-- fim .row-fluid -->
         <div class="row-fluid">
            <div id="logo" class="span8">
               <!-- <div id="logo" class="span8 big"> Portal do Software Público <div id="logo" class="span8 small"> -->
               <a href="/" title="Portal do Software Público"><div class="logotipo"></div> 
               <!--<img src="{{ STATIC_URL }}img/logotipo.png"/> -->
               </a>
            </div>
            <!-- fim .span8 -->
            <div class="span4">
             <!--  <div id="portal-searchbox" class="row">
                  <form action="{% url 'haystack_search' %}" method="GET" id="search-form" class="navbar-form navbar-right hidden-xs hidden-sm" role="search">
                     <fieldset class="fieldset-new">
                        <legend class="hide">Busca</legend>
                        <h2 class="hidden">Buscar no portal</h2>
                        <div class="input-append">
                           <div class="form-group">
                              <label class="sr-only" for="header-searchbox">{% trans 'Search here...' %}</label>
                              <input name="q" id="header-searchbox" class="searchField" value="{{ request.GET.q }}" type="search" placeholder="{% trans 'Search here...' %}"/>
                           </div>
                           <button type="submit" class="btn searchButton"><span class="hide">Buscar</span><i class="icon-search"></i></button>
                        </div>
                     </fieldset>
                  </form>
               </div> -->

      <!-- fim div#portal-searchbox.row -->
<!-- novo campo de busca -->
<div id="portal-searchbox">

    <form id="nolivesearchGadget_form" action="{% url 'haystack_search' %}">
        <fieldset class="LSBox"><legend class="hiddenStructure">Buscar no portal</legend>
            <label class="hiddenStructure" for="nolivesearchGadget">Busca</label>

            <input name="q" size="18" title="Search Site" placeholder="Buscar no portal" class="searchField" id="nolivesearchGadget" type="text"><input class="searchButton" value="Buscar" type="submit">

            <div class="LSResult" id="LSResult"><div class="LSShadow" id="LSShadow"></div></div>
        </fieldset></form>

    

</div>
<div id="social-icons">
                <ul><li id="portalredes-facebook" class="portalredes-item">
                <a href="http://facebook.com/facebook">Facebook</a>
            </li><li id="portalredes-twitter" class="portalredes-item">
                <a href="https://twitter.com/twiiter">Twitter</a>
            </li><li id="portalredes-youtube" class="portalredes-item">
                <a href="http://youtube.com/youtube">YouTube</a>
            </li><li id="portalredes-flickr" class="portalredes-item">
                <a href="http://flickr.com/flickr">Flickr</a>
            </li></ul>
</div>




            <!--   <div id="social-icons" class="row">
                  <h2 class="hidden">Redes Sociais</h2>
                  <ul class="pull-right">
                     <li class="portalredes-item"><a title="Twitter" href="https://twitter.com/twitter">
                     <i class="icon-twitter-sign"><span>Twitter</span></i></a>
                     </li>
                     <li class="portalredes-item"><a title="YouTube" href="http://youtube.com/youtube">
                     <i class="icon-youtube"><span>Youtube</span></i></a>
                     </li>
                     <li class="portalredes-item"><a title="Facebook" href="http://facebook.com/facebook">
                     <i class="icon-facebook-sign"><span>Facebook</span></i></a>
                     </li>
                     <li class="portalredes-item"><a title="Flickr" href="http://flickr.com/flickr">
                     <i class="icon-flickr"><span>Flickr</span></i></a>
                     </li>
                  </ul>
               </div> -->
               <!-- fim div#social-icons.row -->
            </div>
            <!-- fim .span4 -->
         </div>
         <!-- fim .row-fluid -->
      </div>
      <!-- fim div.container2 -->

   <!-- fim .sobre -->
   <!--fim barra de navegacao modelo colab01-->


      <nav id="navigation-colab"  class="navbar navbar-default"  role="navigation"> <!--remove navbar-fixed-top-->
          <div class="container">
         <div class="collapse navbar-collapse navbar-main">
           <ul class="nav navbar-nav">
             <li>
               <a href="{% url 'thread_list' %}">{% trans "Groups" %}</a>
             </li>
             <li>
               <a href="{% url "feedzilla_index" %}">{% trans "Blogs" %}</a>
             </li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Git" %} <b class="caret"></b></a>
               <ul class="dropdown-menu">
                    <li><a href="/gitlab/public/projects">{% trans "Public Projects" %}</a></li>
            {% if user.is_active %}
                     <li><a href="/gitlab/profile">{% trans "Profile" %}</a></li>
                     <li><a href="/gitlab/projects/new">{% trans "New Project" %}</a></li>

                <li><a href="/gitlab/dashboard/projects">{% trans "Projects" %}</a></li>
                <li><a href="/gitlab/dashboard/issues">{% trans "Issues" %}</a></li>
                <li><a href="/gitlab/dashboard/merge_requests">{% trans "Merge Requests" %}</a></li>
            {% endif %}
               </ul>
             </li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Projects Management" %} <b class="caret"></b></a>
               <ul class="dropdown-menu">
            {% if user.is_active %}
                <li><a href="/redmine/projects">{% trans "Projects" %}</a></li>
            {% else %}
                {% trans 'Login' as login_text %}
                <li>{% browserid_login text=login_text %}</li>
            {% endif %}
               </ul>
             </li>
             <li class="hidden-lg hidden-md">
               <a href="{% url 'haystack_search' %}?q=">{% trans "Search" %}</a>
             </li>
           </ul>

           <ul class="nav navbar-nav navbar-right">
             {% if not user.is_authenticated %}
               <li id="ali-menu"><a href="{% url 'signup' %}">{% trans "Register" %}</a></li>
               {% trans 'Login' as login_text %}
               <li id="ali-menu">{% browserid_login text=login_text %}</li>
             {% else %}
               <li id="user-menu" class="dropdown">
            <a href="#" class="dropdown-toggle user" data-toggle="dropdown">{% gravatar user.email 25 %} <b class="caret"></b>&nbsp;&nbsp;</a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="wrapper">
                  <div class="thumbnail">{% gravatar user.email 100 %}</div>
                  <div class="user-info">
                    <span><b>{{ user.get_full_name }}</b></span>
                    <span class="quiet">{{ user.email }}</span>
                  </div>
                  <div>
                    <a class="btn btn-info pull-left" href="{% url 'user_profile' user.username %}">{% trans "My Profile" %}</a>
                    {% trans 'Logout' as logout_text %}
                    {% browserid_logout text=logout_text link_class='btn btn-default pull-right' %}
                  </div>
                </div> <!-- Fecha div wrapper -->
              </li>
            </ul> <!-- Fecha ul dropdown-menu -->
               </li> <!-- user-menu -->
             {% endif %}
           </ul> <!-- fecha ul navbar-nav -->

         </div> <!-- navbar-collapse -->
            </div> <!-- container -->
       </nav> <!-- navbar-default -->
   </header>
</nav>
    {% endblock %}

      {% block messages %}
        {% if request.GET.bid_login_failed %}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% trans 'The login has failed. Please, try again.' %}
          </div>
        {% endif %}

        {% for message in messages %}
          <div class="alert alert-dismissable {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
        <div id="alert-js" class="alert alert-dismissable alert-warning" hidden>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <span id="alert-message"></span>
        </div>
      {% endblock %}

    {% block header %}{% endblock %}

    <div id="main-content">
      {% block main-content %}{% endblock %}
    </div>

    <div class="row">&nbsp;</div>

    {% block footer %}
      {% if user.is_staff %}
      <p class="col-lg-12 text-center">{% trans "Last email imported at" %} {{ last_imported_message.received_time|date:'DATETIME_FORMAT' }}</p>
      {% endif %}
    {% endblock %}


  {% if not is_mobile %}
    {% conversejs_chatpanel %}
    {% conversejs_initialize %}
  {% endif %}

  {% include "tz/set_utc_offset.html" %}
  {% browserid_js %}

<!-- footer colab01 -->
<footer>
          <div class="footer-atalhos">
             <div class="container2">
                <div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
             </div>
          </div>
          <div class="container2 container-menus">
             <div id="footer-colab" class="row footer-menus">
                <span class="hide">Início da navegação de rodapé</span>
                <div class="span3">
                  <nav class="row assuntos ">
                     <h2>Assuntos</h2>
                     <ul>
                        <li><a href="http://www.softwarepublico.gov.br/O_que_e_o_SPB" title="SPB">SPB</a></li>
                        <li><a href="http://pagina.softwarepublico.gov.br/sisp" title="SISP-SPB">SISP-SPB </a></li>
                        <li><a href="http://www.softwarepublico.gov.br/5cqualibr/avaliaspb/wiki/Sobre" title="AvaliaSPB">AvaliaSPB</a></li>
			<li><a href="http://www.softwarepublico.gov.br/4cmbr/xowiki/Principal" title="4CMBr">4CMBr</a></li>
			<li><a href="http://www.softwarepublico.gov.br/5cqualibr/xowiki/" title="5cQualiBr" href="#">5cQualiBr</a></li>
                     </ul>
                  </nav>
                </div>
               <div class="span3">
                  <nav class="row servicos ">
                     <h2>Serviços</h2>
                     <ul>
                        <li class="portalservicos-item">
                           <a title="Perguntas frequentes" href="#">Perguntas frequentes</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Contato" href="#">Contato</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Serviços da [Denominação]" href="#">Serviços da [Denominação]</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Dados abertos" href="#">Dados abertos</a>
                        </li>
                        <li class="portalservicos-item">
                           <a title="Área de imprensa" href="#">Área de imprensa</a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <div class="span3">
                  <nav class="row redes-sociais ">
                     <h2>Redes Sociais</h2>
                     <ul>
                        <li class="portalredes-item"><a title="Twitter" href="https://twitter.com/twitter">
                            Twitter</a>
                         </li>
                         <li class="portalredes-item"><a title="YouTube" href="http://youtube.com/youtube">
                            Youtube</a>
                         </li>
                         <li class="portalredes-item"><a title="Facebook" href="http://facebook.com/facebook">
                            Facebook</a>
                         </li>
                         <li class="portalredes-item"><a title="Flickr" href="http://flickr.com/flickr">
                            Flickr</a>
                         </li>
                     </ul>
                  </nav>
               </div>
               <div class="span3">
                  <nav class="row rss ">
                     <h2>RSS</h2>
                     <ul>
                        <li><a href="#" title="O que é?">O que é?</a></li>
                        <li><a href="#" title="Assine">Assine</a></li>
                     </ul>
                  </nav>
                  <nav class="row sobre ">
                     <h2>Navegação</h2>
                     <ul>
                        <li><a href="#">Acessibilidade</a></li>
                        <li><a href="#">Mapa do site</a></li>
                        <li><a href="#">Versión en Español</a></li>
                        <li><a href="#">English version</a></li>
                     </ul>
                  </nav>
               </div>
               <span class="hide">Fim da navegação de rodapé</span>
             </div>
             <!-- fim .row -->
          </div>
          <!-- fim .container2 -->
         <div class="footer-logos">
            <div class="container2">
   <a href="http://www.acessoainformacao.gov.br/" class="logo-acesso pull-left"><img src="{{ STATIC_URL }}img/acesso-a-informacao.png" alt="Acesso a Informação"></a>
   <!-- separador para fins de acessibilidade -->
   <span class="hide">&nbsp;</span>
   <!-- fim separador para fins de acessibilidade -->
               <a href="http://www.brasil.gov.br/" class="brasil pull-right"><img src="{{ STATIC_URL }}img/brasil.png" alt="Brasil - Governo Federal"></a>
            </div>
         </div>

          <div class="footer-atalhos visible-phone">
             <div class="container2">
                <span class="hide">Fim do conteúdo da página</span>
                <div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
             </div>
          </div>
       </footer>


   <!-- fim div#wrapper -->
   <!-- scripts principais -->

    <noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
    <noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
   <script src="{{ STATIC_URL }}js/template.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
   <script src="{{ STATIC_URL }}third-party/jplayer/jquery.jplayer.min.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
   <script type="text/javascript">
   //<![CDATA[
   jQuery(document).ready(function(){
      urls = {mp3:"http://tv1-lnx-04.grupotv1.com/portalmodelo/conteudos-de-marcacao/audio-1-titulo-do-audio-1/audio-1-nome-do-audio.mp3"};
      playAudio("#jquery_jplayer_1", urls, "mp3", "jplayer/");
   });
   //]]>
   </script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
   <!-- Script do portal Brasil deve ficar preferencialmente no rodape para nao atrasar o carregamento da pagina principal -->
   <script src="http://barra.brasil.gov.br/barra.js?cor=verde" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>

    <!--fim footer colab01-->
    <!--bloco da licenca -->
    <div class="row">
      <p class="col-lg-12 text-center">
        <a href="{% url 'opendata' %}"><img src="{{ STATIC_URL }}img/opendata3.png"/></a>
      </p>
      {% if user.is_staff %}
      <p class="col-lg-12 text-center">{% trans "Last email imported at" %} {{ last_imported_message.received_time|date:'DATETIME_FORMAT' }}</p>
      {% endif %}
      <p class="col-lg-12 text-center">
        {% trans "The contents of this site is published under license" %}
        <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/br/">
          {% trans "Creative Commons - attribution, non-commercial" %}
        </a>
      </p>
    </div>
<!--fim bloco licenca -->

</div>
<!-- fim div contraste -->
  {% block footer_js %}{% endblock %}
  </body>
</html>
